@model iTS_ApartBillingCheckList.Areas.Signup.Models.Registration;

@{
    ViewData["Title"] = "Signup process";
}
<from method="post" action="Create">
    <div class="card">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="uid" />
            <div class="form-floating mb-2">
                <input asp-for="RegistrantName" class="form-control" />
                <label asp-for="RegistrantName"></label>
                <span asp-validation-for="RegistrantName" class="text-danger"></span>
            </div>
        </div>

        <div class="card-body">            
            <div class="form-floating mb-2">
                <input asp-for="Mobile" class="form-control" />
                <label asp-for="Mobile"></label>
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
        </div>

        <div class="card-body">            
            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="col-lg-12 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </div>

    </div>

</from>

